<!-- Footer -->
<section id="footer">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-black-50">
                <p><u></u> Privacidad | Protección de Datos | Quiénes somos</p>
                <p class="h6"> Copyright © <a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Statkeball 2020</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->